.hero-section {
  position: relative; /* Make the section relative for positioning children */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 0 50px; /* Optional padding for better spacing */
}

.hero-section .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://i.ibb.co/8P85p72/hero-background.png') no-repeat center center/cover; /* Background image */
  /* filter: blur(2px); */
  
  z-index: 1; /* Set background image below content */
}

/* @keyframes moveBackground {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%);
  }
} */

.hero-section .content {
  position: relative;
  z-index: 10; /* Make sure the content is above the background */
  text-align: left;
  max-width: 50%; /* Ensures the content does not take up more than half the space */
  display: flex;
  flex-direction: column; /* Stacks elements vertically */
  justify-content: center; /* Centers content vertically */
  align-items: flex-start; /* Aligns text to the left */
  height: 100%; /* Ensures full height for centering */
  padding-left: 80px;
}

.hero-section .image-container {
  max-width: 50%; /* Ensures the image does not take up more than half the space */
  overflow: hidden; /* Prevents overflow if the image is too large */
  display: flex;
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically */
  height: 120%; /* Ensures full height for centering */
  z-index: 10;
  padding-right: 80px;
}

.hero-section .right-image {
  width: 150%; /* Makes the image responsive, can adjust percentage as needed */
  height: 70%; /* Maintains aspect ratio */
}

.hero-section h3 {
  font-size: 22px; /* Increased text size */
  font-weight: bold;
  color: #E68369;
}

.hero-section h1 {
  font-size: 72px; /* Increased text size */
  line-height: 1.2;
  color: #FBF6E2;
}

.hero-section .highlight {
  color: #E68369;
}

.hero-section p {
  margin-top: 10px;
  font-size: 20px; /* Increased text size */
  color: #aaa;
}

.hero-section .order-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #E68369;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.hero-section .order-button:hover {
  background-color: #d32f2f;
}


/* `#131842`, `#E68369`, `#ECCEAE`, `#FBF6E2` */